In [ ]:
print("Hello, World!")

Hello, World!

In [ ]:
x = 5
y = "John"
print(x)
print(y)

5
John

In [ ]:
x = str(3)
y = int(3)
z = float(3)
print(x,y,z)

3 3 3.0

In [ ]:
x = 5
y = "John"
print(type(x))
print(type(y))

<class 'int'>
<class 'str'>

In [ ]:
x = "John"
# is the same as
x = 'John'
# x=2
print(x)

John

In [ ]:
a = 4
A = "Sally"
#A will not overwrite a

In [ ]:
myvar = "John"
my_var = "John"
_my_var = "John"
myVar = "John"
MYVAR = "John"
myvar2 = "John"

In [ ]:
x, y, z = "Orange", "Banana", "Cherry"
print(x)
print(y)
print(z)

Orange
Banana
Cherry

In [ ]:
x = y = z = "Orange"
print(x)
print(y)
print(z)

Orange
Orange
Orange

In [ ]:
fruits = ["apple", "banana", "cherry"]
x, y, z = fruits
print(x)
print(y)
print(fruits)

apple
banana
['apple', 'banana', 'cherry']

In [ ]:
thistuple = ("apple", "banana", "cherry", "apple", "cherry")
print(thistuple)
thistuple = ("apple", "banana", "cherry", "apple", "cherry", 3, 5, 6, 'grapes')
print(thistuple)

('apple', 'banana', 'cherry', 'apple', 'cherry')
('apple', 'banana', 'cherry', 'apple', 'cherry', 3, 5, 6, 'grapes')

In [ ]:
thisset = {"banana", "apple", "cherry", False, 1, 2}

print(thisset)

{'cherry', False, 2, 1, 'apple', 'banana'}

In [ ]:
my_tuple = ("apple", "banana", "cherry")
print("First fruit:", my_tuple[0])
print("Number of fruits:", len(my_tuple))
for fruit in my_tuple:
    print("Fruit:", fruit)

First fruit: apple
Number of fruits: 3
Fruit: apple
Fruit: banana
Fruit: cherry

In [ ]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}

In [ ]:
my_list = [10, 20, 30, 40]

print("Second element:", my_list[1])
my_list.append(50)
print("Updated list:", my_list)
my_list.remove(30)
print("After removal:", my_list)
for num in my_list:
    print("Number:", num)

Second element: 20
Updated list: [10, 20, 30, 40, 50]
After removal: [10, 20, 40, 50]
Number: 10
Number: 20
Number: 40
Number: 50

In [ ]:
my_list = [10, 20, 30, 40]
my_list.insert(2, 25)

print("Updated list:", my_list)

Updated list: [10, 20, 25, 30, 40]

In [ ]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
print(thisdict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}

In [ ]:
my_dict = {
    "name": "Alice",
    "age": 25,
    "city": "New York"
}
print("Name:", my_dict["name"])
my_dict["email"] = "alice@example.com"
my_dict["age"] = 26
for key, value in my_dict.items():
    print(key, ":", value)

Name: Alice
name : Alice
age : 26
city : New York
email : alice@example.com

In [ ]:
x = "Python "
y = "is "
z = "awesome"
print(x + y + z)

Python is awesome

In [ ]:
x = 5
y = "John"
print(x, y)

5 John

In [ ]:
import sys

print(sys.version)

3.11.13 (main, Jun  4 2025, 08:57:29) [GCC 11.4.0]

In [ ]:
if 5 > 2:
  print("Five is greater than two!")

Five is greater than two!

In [ ]:
if 5 > 2:
 print("Five is greater than two!")
 if 5 > 1:
        print("Five is greater than two!")

Five is greater than two!
Five is greater than two!

In [ ]:
a = 33
b = 33
if b > a:
  print("b is greater than a")
elif a == b:
  print("a and b are equal")

a and b are equal

In [ ]:
a = 200
b = 33
if b > a:
  print("b is greater than a")
elif a == b:
  print("a and b are equal")
else:
  print("a is greater than b")

a is greater than b

In [ ]:
i = 1
while i < 6:
  print(i)
  i += 1

1
2
3
4
5

In [ ]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
  print(x)

apple
banana
cherry

In [ ]:
for x in range(7):
  print(x)
else:
  print("Finally finished!")

0
1
2
3
4
5
6
Finally finished!

In [ ]:
x = "awesome"

def myfunc():
  print("Python is " + x)

myfunc()

Python is awesome

In [ ]:
x = "awesome"

def myfunc():
  x = "fantastic"
  print("Python is " + x)

myfunc()

print("Python is " + x)

Python is fantastic
Python is awesome

In [ ]:
x = "awesome"

def myfunc():
  x = "fantastic"
  print("Python is " + x)

myfunc()

print("Python is " + x)

Python is fantastic
Python is awesome